.input-pass{
  border-color: rgb(222, 226, 230);
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  padding: 6px 10px 6px 10px;
  width: 100%;
  
}

.input-pass:focus{
  outline: none;  
}